.img-tour{
    width: 500px;
    height: 300px;
    margin: 5px;
    border: 2px solid black;
}
.main{
    margin: 10px;
    text-align: center;

    background-color: rgb(235, 27, 27);
    padding: 20px;
    width: 600px;
}
.tours{ 
    display: flex;
    align-items: center;
    flex-direction: column;
   

}
.info{
   line-height: 22px;
    text-align: justify;
   
}
.context{ 
    background-color: rgb(206, 206, 112);padding: 50px;
}
.NamePrice{ 
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: red;
}
.price{ 
   color: rgb(19, 6, 36);
  text-align: center;
}
.Name{ 
    font-variant: all-petite-caps;
    font-weight: bolder;
    font-family: system-ui;
}
button{
    background-color: yellow;
    padding: 5px;
    cursor: pointer;
}
.Btn-remove{
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
}
.Delete{
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
}
.Refresh{ 
    display: flex;
    flex-direction: column;
  align-items: center;
  
}
.Refresh >h3{ 
    width: 300px;
    margin: 20px;
    font-size: 40px;
    color: red;
    font-family: monospace;
}
.btn-Refresh{ 
    width: 300px;
    margin: 20px;
    font-size: 40px;
    color: red;
    font-family: monospace;
}
